# yaml-language-server: $schema=https://json.schemastore.org/clang-format-21.x.json
---
BasedOnStyle: Chromium
ColumnLimit: 85
IndentWidth: 4
UseTab: Never
PointerAlignment: Right
SortIncludes:
    Enabled: true

ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
PackParameters:
  BinPack: OnePerLine
  BreakAfter: 3
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: true
---
